body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9; /* Verde claro */
    color: #2e7d32; /* Verde escuro */
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #388e3c; /* Verde médio */
    padding: 15px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    margin-top: 20px;
}

.atividades ul {
    list-style: none;
    padding: 0;
}

.atividades ul li {
    padding: 10px;
    background-color: #a5d6a7; /* Verde mais claro */
    margin: 5px;
    border-radius: 5px;
}

.atividades ul li a {
    text-decoration: none;
    color: #2e7d32;
    font-weight: bold;
}

.atividades ul li:hover {
    background-color: #81c784; /* Verde intermediário */
}

/* Estilização da seção Aluna */
.titulo-com-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.titulo-com-imagem img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
